//colors
$lightcyan : #e0ffff;
$lightblue : #00ead3 !default;

//navigation colors
$nav-background: $lightcyan;
$nav-brand: $lightblue;

//Clock variables
$clock-text-color: black ;
$clock-bg-color: $lightcyan;
$clock-border-color: $lightblue;